.container {
  text-align: center;
  max-width: 90%;
  margin-top: 30px;
}

.my-custom-scrollbar {
  position: relative;
  width: 80vw;
  overflow: auto;
  padding-left: 5vw;
}

.table-wrapper-scroll-y {
  display: block;
}
